#message-box {
	margin: 200px auto;
	border: 3px solid black;
	border-radius: 15px;
	width: 80%;
	min-height: 100vh;
}

#clear-btn {
	margin-top: 8px;
}
#dark-theme{
	margin-left: 15px;
}
.input-box {
	margin: 20px 0;
}

.theme-btn{
	margin: 20px 0;
}

/*.dark-theme {
	background-color: #333333;
	color: #cccccc;
}

.large-text {
	font-size: 1.75em;
}*/
.brand-img {
	min-height: 58px;
}
#users-radio{
	margin-bottom: 10px;
    margin-left: 50px;
}

input[type=checkbox], input[type=radio] {
    margin: 4px 8px 0;
    margin-top: 1px\9;
    line-height: normal;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
nav {
	height: 135px;
}
.theme-btn{
	margin-top: 5px;
}
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 
nav {
	height: 95px;
}
}

